/* styles.css */
body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

p {
    margin-top: 20px;
}

footer {
    background-color: #E8B122;
    padding: 20px;
    text-align: center;
    color: white;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #126E3C;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #0B4E2B;
}
